[2020-06-04 07:22] fabriziobertoglio1987 opened #1 "Finalise the idea for FB AI hackathon"
I went to the facebook hackathon [website](https://fbai2.devpost.com/?ref_content=online-hackathons&ref_feature=challenge&ref_medium=facebook-channel) and now I remember the scope:

As my understanding now using the Camera is not really necessary, as we mostly talking about use cases like chat applications.. I can imagine that they apply very well to a live chatroom written in ReactNative

<img sr

[2020-06-04 07:22] fabriziobertoglio1987 opened #2 "SOFTWARE ENGINEER - ML/DEEP LEARNING"
-Researching Wit.ai and its applications

[2020-06-04 07:34] fabriziobertoglio1987 opened #3 "WRITE A PAPER ON THE POTENTIAL APPLICATION OF USING WIT.AI WITH THE ANDROID CAMERA"
Write and Upload to this repository a paper written in markdown on the functionalities and the potential application that we can build with [wit.ai](https://wit.ai/docs) and the Android Camera.

We will be using [react-native-camera](https://github.com/react-native-community/react-native-camera)

[2020-06-04 08:00] fabriziobertoglio1987 opened #4 "ADVERTISE ON FACEBOOK AND TWITTER"

[2020-06-04 11:00] renanmav commented on #1
Is there any scope related to which ML model we wanna to build? What do we like to recognize?

[2020-06-04 11:09] renanmav commented on #1
Here are some common thigs we can do with wit.ai https://wit.ai/docs/recipes

[2020-06-04 11:50] fabriziobertoglio1987 commented on #1
Hello @renanmav Thanks a lot

I went to the facebook hackathon [website](https://fbai2.devpost.com/?ref_content=online-hackathons&ref_feature=challenge&ref_medium=facebook-channel) and now I remember the scope:

As my understanding now using the Camera is not really necessary, as we mostly talking about use cases like chat applications.. I can imagine that they apply very well to a live chatroom w

[2020-06-04 13:31] cristianoccazinsp commented on #1
@fabriziobertoglio1987 does that mean updating RNCamera native code to support video/image streaming to a server? Or should that happen entirely from JS?

[2020-06-04 15:47] fabriziobertoglio1987 commented on #1
@cristianoccazinsp yes, it would entirely happes from JS relatively easy with their [nodejs package](https://github.com/wit-ai/node-wit)

and this are the [prizes](https://fbai2.devpost.com/?ref_content=online-hackathons&ref_feature=challenge&ref_medium=facebook-channel)

![image](https://user-images.githubusercontent.com/24992535/83778549-26cf3480-a68b-11ea-8255-fe93e7e425f9.png)

I understand no

[2020-06-05 02:22] ako1983 commented on #2
@fabriziobertoglio1987 hi!

[2020-06-05 05:32] zejiran commented on #1
I have two ideas:
- A framework for making interactive webpages with chatbot.
- A platform for scanning food and obtaining important data about it. User can make food orders from the app and require specific information talking with the wit.ai chatbot. First, they send a picture on the chat of my plate of food, and the bot later ask for more information. Food industries can promote their products

[2020-06-05 05:45] ProBeta1 commented on #4
https://twitter.com/probeta1234/status/1268780755754397696

[2020-06-05 05:53] #2 closed

[2020-06-05 05:56] ProBeta1 commented on #4
For new members , I'll share this github repo link and ask them to send a PR to add their details in ReadMe

[2020-06-05 05:58] fabriziobertoglio1987 commented on #4
Thanks.. yes important sharing the GitHub repo and maybe the issue where we are discussing of the idea

:-)

[2020-06-05 08:48] ProBeta1 commented on #1
Alright devs , I got a fresh idea for this hackathon, which holds a true potential for a real life app as well . So here it is :

App Name: **BetterHalf Buddy**( tentative )

Yeah , you read it right . There are many messaging apps in the market currently , but this one would be just one on one app , means , you can use it to just message one other person . It will have all the features like whats

[2020-06-05 10:47] fabriziobertoglio1987 commented on #1
Stream the video and analyze the audio

https://wit.ai/docs/http/20200513#post__speech_link

Kid dash cam
![image](https://user-images.githubusercontent.com/24992535/83867858-5ed98480-a72a-11ea-9dec-687d28cf5fe7.png)

Car dash cam
![image](https://user-images.githubusercontent.com/24992535/83868112-a4964d00-a72a-11ea-8a60-25ab0a206e02.png)

Don't know... but there are many applications, considerin

[2020-06-05 10:51] fabriziobertoglio1987 commented on #4
![image](https://user-images.githubusercontent.com/24992535/83868490-4027bd80-a72b-11ea-8f1d-3a1609f88e2c.png)

![image](https://user-images.githubusercontent.com/24992535/83868520-4cac1600-a72b-11ea-8033-b5aa2e538d16.png)

[2020-06-05 11:22] renanmav commented on #1
So, let’s close this for ideas and create an election with due date? (1 ~ 2 days)

[2020-06-05 11:58] ProBeta1 commented on #1
Yeah , @fabriziobertoglio1987  you may create a new issue with the topics and we can then comment our fav ones there !

[2020-06-05 12:00] ProBeta1 commented on #1
We do have some sites doing the first part , like Crisp , and they are doing it quite well . And second idea sounds nice but its a bit generic IMO .

[2020-06-05 16:51] ProBeta1 opened #8 "Idea Selection"
- BetterHalf Buddy : [messaging app with voice controlled bot](https://github.com/fabriziobertoglio1987/hackathon-team/issues/1#issuecomment-639347880)

- Audio analysis using video stream : [select one of these](https://github.com/fabriziobertoglio1987/hackathon-team/issues/1#issuecomment-639405483)

- Food detail app : [here](https://github.com/fabriziobertoglio1987/hackathon-team/issues/1#issue

[2020-06-05 17:44] renanmav commented on #8
React to this if you vote for **BetterHalf Buddy**

[2020-06-05 17:45] renanmav commented on #8
React to this if you vote for **Audio analysis using video stream**

[2020-06-05 17:45] renanmav commented on #8
React to this if you vote for **Food detail app**

[2020-06-05 21:00] Epeagbas commented on #1
Sounds good

On Fri, Jun 5, 2020 at 11:15 AM fabriziobertoglio1987 <
notifications@github.com> wrote:

[2020-06-06 02:01] saravananselvamohan commented on #1
Hi Team. Glad to have interesting ideas from everyone. Just I like to picturize the idea I have in mind.

Tons of information have hidden under unstructured data. Let's leverage the unstructured data using text mining techniques and users can access the prior information with simple questions to the chatbot.

**Simple Use Case:**
We can feed all the Wikipedia data to the bot, and directly we can a

[2020-06-06 02:03] saravananselvamohan commented on #8
React to this if you vote for **Question & Answering Chatbot**

[2020-06-06 04:50] LoopGlitch26 commented on #8
Reading the better half buddy idea, I have an extension for that idea.

# **BetterHalf Parter- A matchup AI **

Every Facebook user will be directed towards our app/website for a personality survey. Based on the survey and emotions of their activities in Facebook using AI, we can try to make a graphical representation of those variables and match the users (suggest the users) for dating with any g

[2020-06-06 05:40] zejiran commented on #8
Nice! So basically my partner is going to track and see statistics of my mental health analyzed through social media? If this works, it could help many people with depression for being saved by their buddies. Although I still don't understand how we are going to use wit.ai here or on the first version of the idea.

[2020-06-06 05:44] LoopGlitch26 commented on #8
Wit.ai will be used to make the app/bot which will be responsible for direct interaction with the user . We can still brainstorm..

[2020-06-06 06:05] zejiran commented on #8
Is it difficult to make an animated friendly assistant?

[2020-06-06 06:32] ProBeta1 commented on #8
A brief update , the BetterHalf Buddy app is not for Singles =P
Its not supposed to be a dating app , otherwise we would lose the original flow of the app's idea and we already have so many matching apps in the market.
Its only for the couples who are already in relationship, and yes , @zejiran and @LoopGlitch26 your ideas of assessing mental health of the better half is indeed very nice and we ca

[2020-06-06 06:35] LoopGlitch26 commented on #8
Exactly! The idea I proposed was supposed to be an extension to this one..so that even singles can get connected with similar mentality humans through social media like Facebook etc which is nowadays flooded with fake accounts mostly, ending up trust of the users on the app.

[2020-06-06 06:42] zejiran commented on #8
I think that it should not be limited to couples, but rather allows interaction between good friends or people who have mutual trust.

[2020-06-06 10:29] #3 closed

[2020-06-06 11:36] CasCard commented on #4
https://twitter.com/abelcd_xyz/status/1269231429352734727

[2020-06-06 12:28] LoopGlitch26 commented on #4
https://twitter.com/Bravish_Ghosh/status/1269244458853257216

[2020-06-06 14:06] cristianoccazinsp commented on #8
I don't have any good ideas to propose right now, but I'm willing to help
if I have free time :)

El sáb., 6 de junio de 2020 03:42, Juan Alegría <notifications@github.com>
escribió:

[2020-06-06 16:41] fabriziobertoglio1987 commented on #8
Thanks @cristianoccazinsp We absolutely need your help

**QUICK UPDATE**

Today I wanted to get a super quick Minimum Viable Product based on the [idea](https://github.com/fabriziobertoglio1987/hackathon-team/issues/1#issuecomment-639347880) from @ProBeta1

I wrote it with expo, the basic idea was having a Mobile app similar to Alexa that would do voice recognition and messanging and [implement si

[2020-06-06 16:49] fabriziobertoglio1987 opened #11 "Technical Requirements"
React Native App with

1) Facebook Authentication
2) Facebook Graph API
3) Wit.AI API

**Not Priorities**

4) Voice Recognition
5) Firebase live chatroom

Please help me figure out how to build this :smiley:

[2020-06-07 03:51] saravananselvamohan commented on #11
For Voice Recognition, We have an api from wit.ai to integrate with. We can architect voice recognition part in React Native App

[2020-06-07 06:39] fabriziobertoglio1987 commented on #4
@LoopGlitch26 @CasCard thanks. I liked/retweeted both posts

https://github.com/fabriziobertoglio1987/hackathon-team

Let me know if you post to Facebook Groups related to Javascript, I will like those posts too.

Today I'll be building the basic functionalities of the app and then invite you..

Thanks a lot
Fabrizio

[2020-06-07 06:47] fabriziobertoglio1987 commented on #11
@saravananselvamohan I know, but I rather do voice recognition locally on the device as using that endpoint will make the app slower

[2020-06-07 07:03] fabriziobertoglio1987 commented on #11
@saravananselvamohan  I knew about that endpoint, but I tought of using VoiceRecognition for the [chat functionalities](https://github.com/fabriziobertoglio1987/hackathon-team/issues/1#issuecomment-639347880)

but I think you are right, we could implement those functionalities later

[2020-06-07 07:36] ProBeta1 commented on #11
So in the first phase of our project , what we would be coding is authenticating a FB user and using their voice commands to convert into text and show it on the screen , right ?
The next phase would be to implement the one-on-one chatting feature.

[2020-06-07 07:50] ProBeta1 commented on #11
[Link of tech specs Docs](https://docs.google.com/document/d/1mhWSdQCEuDWyCFlAztkG8FBoIFb-AY2Wolg1lTGVuH0/edit?usp=sharing)

[2020-06-07 08:50] fabriziobertoglio1987 commented on #8
**IMPORTANT UPDATE**

I'm building the above discussed application. We can change it as by your requirement later on, but I want to start working as I want to submit something for the first round ending Deadline 5:00pm EDT Jun 24, 2020 and I can only work during the weekends

I'm organizing the work like this:

1) I'm building the wireframe and the more complex functionalities, so that other devel

[2020-06-07 08:56] fabriziobertoglio1987 commented on #8
As I am already building an app and I don't think it make sense building 2-3 apps for 1 hackathon.

I would say that we close this issue and we move from planning to delivery.

If you want to build a different application in the future, you may open another Issue for discussing.

[2020-06-07 08:57] fabriziobertoglio1987 commented on #11
Thanks @ProBeta1  Voice recognition only later on. Not now. This is the [order of functionalities](https://github.com/fabriziobertoglio1987/hackathon-team/issues/11#issue-632583888)

@ProBeta1 please use [markdown](https://guides.github.com/features/mastering-markdown/) for the docs and follow the below guidelines (each feature will have its own card in this kanban board and an issue). Thanks a lo

[2020-06-07 08:57] fabriziobertoglio1987 commented on #1
discussion moved to https://github.com/fabriziobertoglio1987/hackathon-team/issues/8

[2020-06-07 08:57] #1 closed

[2020-06-07 12:20] ProBeta1 commented on #11
I cant access the private repo !

[2020-06-07 14:10] fabriziobertoglio1987 opened #12 "Voice recognition"
The user says to his phone to activate voice recognition

"Alex"

Then the user sends the app the following question

"Where can I have dinner with Mike Labroski Tonight at 9:00 in New York City Central Park?"

The Facebook API to retrieve the list of restaurants will be built in separate task https://github.com/fabriziobertoglio1987/hackathon-team/issues/20

The Wit AI AP will be built with https

[2020-06-07 14:10] fabriziobertoglio1987 opened #13 "Facebook Graph API (events, calendar..)"
https://github.com/facebook/react-native-fbsdk

https://developers.facebook.com/docs/messenger-platform/send-messages

[2020-06-07 14:11] fabriziobertoglio1987 opened #14 "Set up IOs Facebook Authentication"
Instructions [here](https://github.com/facebook/react-native-fbsdk#32-ios)

https://developers.facebook.com/docs/ios/getting-started/?sdk=cocoapods

[2020-06-07 14:15] fabriziobertoglio1987 commented on #11
@ProBeta1  yes it is private. I need to invite you first

Lets discuss in the issue in the [Kanban board](https://github.com/fabriziobertoglio1987/hackathon-team/projects/2) that you want to work on..

Thanks

[2020-06-07 14:16] #11 closed

[2020-06-07 21:31] #8 closed

[2020-06-07 21:38] renanmav opened #15 "Provide access"
Hi @fabriziobertoglio1987 and @ProBeta1,

Currently, we have a problem regarding access control. Can we create a GitHub org to leverage GitHub teams?

I can’t access your private repo and kanban @fabriziobertoglio1987, neither your tech specs @ProBeta1.

[2020-06-08 04:49] ProBeta1 commented on #15
You have access for the docs now , regarding the repo , check [this] .(https://github.com/fabriziobertoglio1987/hackathon-team/issues/11#issuecomment-640225328)

[2020-06-08 06:14] #15 closed

[2020-06-08 06:27] fabriziobertoglio1987 commented on #15
start working on one of the issues from the [kanban](https://github.com/fabriziobertoglio1987/hackathon-team/projects/2) board otherwise build y own repo, create a separate kanban board in this [repo](https://github.com/fabriziobertoglio1987/hackathon-team/projects) for your new project and create a list of clear feature requests so that we can collaborate with you.

Repo is private and only colla

[2020-06-08 07:45] fabriziobertoglio1987 commented on #4
I updated readme and added a [project section](https://github.com/fabriziobertoglio1987/hackathon-team#projects---1-week-left-to-registration).

I will register a team in 1 week and I have already a product built. Please review the [guides here to be part of my team](https://github.com/fabriziobertoglio1987/hackathon-team/blob/master/projects/virtual-assistant.markdown)

DEADLINE is 24 June so we

[2020-06-08 07:45] fabriziobertoglio1987 commented on #8
I updated readme and added a [project section](https://github.com/fabriziobertoglio1987/hackathon-team#projects---1-week-left-to-registration).

I will register a team in 1 week and I have already a product built. Please review the [guides here to be part of my team](https://github.com/fabriziobertoglio1987/hackathon-team/blob/master/projects/virtual-assistant.markdown)

DEADLINE is 24 June so we

[2020-06-08 07:45] fabriziobertoglio1987 commented on #11
I updated readme and added a [project section](https://github.com/fabriziobertoglio1987/hackathon-team#projects---1-week-left-to-registration).

I will register a team in 1 week and I have already a product built. Please review the [guides here to be part of my team](https://github.com/fabriziobertoglio1987/hackathon-team/blob/master/projects/virtual-assistant.markdown)

DEADLINE is 24 June so we

[2020-06-08 07:45] fabriziobertoglio1987 commented on #15
I updated readme and added a [project section](https://github.com/fabriziobertoglio1987/hackathon-team#projects---1-week-left-to-registration).

I will register a team in 1 week and I have already a product built. Please review the [guides here to be part of my team](https://github.com/fabriziobertoglio1987/hackathon-team/blob/master/projects/virtual-assistant.markdown)

DEADLINE is 24 June so we

[2020-06-08 07:45] fabriziobertoglio1987 commented on #1
I updated readme and added a [project section](https://github.com/fabriziobertoglio1987/hackathon-team#projects---1-week-left-to-registration).

I will register a team in 1 week and I have already a product built. Please review the [guides here to be part of my team](https://github.com/fabriziobertoglio1987/hackathon-team/blob/master/projects/virtual-assistant.markdown)

DEADLINE is 24 June so we

[2020-06-08 10:31] fabriziobertoglio1987 opened #16 "Firebase Chatroom"
https://github.com/FaridSafi/react-native-gifted-chat
https://rnfirebase.io/

https://heartbeat.fritz.ai/chat-app-with-react-native-part-2-firebase-user-authentication-with-react-native-firebase-533352870497?gi=23b9df09e362

[2020-06-08 10:33] fabriziobertoglio1987 opened #17 "Retrieve Chat History"
We have the Token and we need to retrieve the user Messanger chat history

https://developers.facebook.com/docs/messenger-platform

[2020-06-08 10:33] fabriziobertoglio1987 opened #18 "Retrieve Facebook Friends"
We have the Token and we need to retrieve the user friends

https://developers.facebook.com/docs/graph-api/reference/user/friends/

[2020-06-08 11:07] fabriziobertoglio1987 opened #19 "Facebook Event API"
One user sends chat message to another user

"Tomorrow is Mike Birthday"

Wit.AI retrieve this information from this massage using functionalities already built in https://github.com/fabriziobertoglio1987/hackathon-team/issues/21

More info on Wit.AI setting at https://github.com/fabriziobertoglio1987/hackathon-team/issues/20 and https://github.com/fabriziobertoglio1987/hackathon-team/issues/26

T

[2020-06-08 11:10] fabriziobertoglio1987 opened #20 "Facebook Places API"
A User writes this message:

"Where do you want to meet tonight to drink a Beer in New York?"

Wit.ai interprets the message with the already built functionality in https://github.com/fabriziobertoglio1987/hackathon-team/issues/21

1) Verify that we can build this with wit.ai
https://wit.ai/docs/http/20200513#get__message_link
`/message` endpoint is already built in our app with issue https://gith

[2020-06-08 11:11] fabriziobertoglio1987 opened #21 "wit.ai `/message` api"
ALREADY BUILT based on /message endpoint
https://wit.ai/docs/http/20200513#get__message_link

For reference only

[2020-06-08 11:11] #21 closed

[2020-06-08 14:08] renanmav commented on #14
I would like to do this one. Do you already have the RN App so I can start working on it?

[2020-06-08 14:36] fabriziobertoglio1987 commented on #14
Thanks a lot. I'll invite you to the github repository.

I need your facebook account to add you to the Facebook Developers so you can do testing and configuration.

Thanks
Fabrizio

[2020-06-08 15:03] renanmav commented on #14
https://www.facebook.com/mavrenan

[2020-06-08 16:19] fabriziobertoglio1987 commented on #14
You need to accept the facebook invitation to the team.
https://github.com/fabriziobertoglio1987/alex
https://developers.facebook.com/apps/254305266005405/dashboard/

1) Test the android app facebook authentication with your account
2) Set up the iOS settings as described here
Instructions [here](https://github.com/facebook/react-native-fbsdk#32-ios)

https://developers.facebook.com/docs/ios/getti

[2020-06-08 19:06] renanmav commented on #14
I didn’t get the invitation to the facebook app

[2020-06-08 19:57] fabriziobertoglio1987 commented on #14
On Facebook notifications

On Mon, Jun 8, 2020, 21:06 Renan Machado <notifications@github.com> wrote:

[2020-06-08 22:13] LoopGlitch26 commented on #12
Can you tell me about what to do under this? I can try to make the voice recognition part. I'd appreciate help and guidance too.

[2020-06-09 06:21] fabriziobertoglio1987 commented on #12
@LoopGlitch26

Do you have JavaScript experience?
check the instructions for installation and setup https://github.com/react-native-community/voice

On 09/06/20 00:13, Bravish Ghosh wrote:

[2020-06-09 06:57] LoopGlitch26 commented on #12
Yeah, sure I will give it a try and let you know the results.

[2020-06-09 08:32] fabriziobertoglio1987 commented on #12
Thanks @LoopGlitch26 let me invite you to the repository.

Are you sure you want to take over this task?
I later categorized it as non essential, as I am worried of the following:

1) Voice Recognition will not work correctly or misinterpret the user
2) The above library has a big number of open issues and bugs

I tough chat is easier and we avoid missing the due date which is already close, so I

[2020-06-09 09:34] LoopGlitch26 commented on #12
Ok I see your point. It's always wise to use facebook API rather than this. But we can give it a short. Thanks for assigning

[2020-06-09 09:34] LoopGlitch26 commented on #12
But we can keep our priorities to the better issues which have the use of facebook APIs

[2020-06-09 09:52] fabriziobertoglio1987 commented on #12
yes, let me know if you have any issues

don't use facebook authentication, it will not work for you because I did not add you to the facebook developer team yet

set up your environment
https://reactnative.dev/docs/environment-setup

make sure that the AwesomeApp from the above instructions works

then install the dependencies as by instructions
https://github.com/react-native-community/voice

re

[2020-06-10 07:35] fabriziobertoglio1987 commented on #19
@ProBeta1 I assign this task to you. Contact me for any help. Thanks a lot. :smiley:

[2020-06-10 07:37] fabriziobertoglio1987 commented on #20
@zejiran I saw that you are a proficient JavaScript Developer. I decided to assign this task to you. Please contact me for any issue. Thanks. :smiley:

[2020-06-10 07:40] fabriziobertoglio1987 commented on #13
@ako1983 @Epeagbas @vedantiitkgp Could you please help me with this? Thanks a lot. :smiley:

[2020-06-10 08:29] fabriziobertoglio1987 commented on #4
I am running an ad campaign on Facebook.

[2020-06-11 06:51] fabriziobertoglio1987 commented on #14
@renanmav do you have an update on this task? Do you need some help? Thanks

[2020-06-11 06:51] fabriziobertoglio1987 commented on #12
@LoopGlitch26 do you have an update? Do you need some help?

[2020-06-11 06:53] fabriziobertoglio1987 commented on #19
@ProBeta1 can you give me some Feedback? Are you willing to work on this? Could you write me 3-4 lines to better understand how will you build the functionality? Thanks

[2020-06-11 06:53] fabriziobertoglio1987 commented on #20
@zejiran can you give me some Feedback? Are you willing to work on this? Could you write me 3-4 lines to better understand how will you build the functionality? Thanks

[2020-06-11 06:53] fabriziobertoglio1987 commented on #13
@ako1983 @Epeagbas @vedantiitkgp can you give me some Feedback? Are you willing to work on this? Could you write me 3-4 lines to better understand how will you build the functionality? Thanks

[2020-06-11 07:00] fabriziobertoglio1987 commented on #17
@saravananselvamohan @CasCard @animeshmohanty can you give me some Feedback? Are you willing to work on this? Could you write me 3-4 lines to better understand how will you build the functionality? Thanks

[2020-06-11 07:03] fabriziobertoglio1987 commented on #18
@munjyong @prdk0 can you give me some Feedback? Are you willing to work on this? Could you write me 3-4 lines to better understand how will you build the functionality? Thanks

[2020-06-11 07:08] fabriziobertoglio1987 opened #26 "Wit.ai additional apis"
One user sends chat message to another user

"Tomorrow is Mike Birthday"
"Where do you want to meet tonight to drink a Beer in New York?"

Wit.AI retrieve this information from this massage using functionalities already built in https://github.com/fabriziobertoglio1987/hackathon-team/issues/21

API docs here
https://wit.ai/docs/http/20200513#get__message_link

I need assistance in understanding th

[2020-06-11 07:29] saravananselvamohan commented on #17
Hi, @fabriziobertoglio1987. To retrieve chat history, From the developer guide, it was quoted. we can use send API to retrieve messages.

https://developers.facebook.com/docs/graph-api/reference/conversation/#conversation---conversation-id-
https://developers.facebook.com/docs/messenger-platform/reference/send-api/#request
Correct me, if I am in the wrong path

[2020-06-11 07:40] animeshmohanty commented on #17
Hi @fabriziobertoglio1987 . I do think the best way to retrieve chat history with an API, but i think only the twillio API and the messenger for devs API give us that advantage as of now as correctly said by @saravananselvamohan (I might not know about others) or we can just, you know retrieve it by saving it in a db i would suggest something like Firebase, so if its a chatbot and every time the b

[2020-06-11 08:08] fabriziobertoglio1987 opened #27 "Facebook Send Message"
@javiershaka

The user will say to the app

"alex"

Voice recognition activates - He send the following voice command:

"please send this message to my friend Micheal Pena"

"Please Michael, switch off the light when you leave my apartment and clean up!"

a text message is delivered to facebook via this api to that user (facebook chat message):

https://developers.facebook.com/docs/messenger-platf

[2020-06-11 08:22] fabriziobertoglio1987 commented on #17
Thanks a lot @saravananselvamohan

#### POINT 1 - Retrieve a list of the latest conversations of a user with his friends through the Facebook API (Screenshot below).

It is not possible with Facebook API. We could find a workaround to do it but it is not worth investing that time.

Very good analysis @animeshmohanty

#### POINT 2 - As Point 1) is not possible, we can just skip this functionality.

[2020-06-11 08:25] fabriziobertoglio1987 commented on #12
@LoopGlitch26 we are discussing in https://github.com/fabriziobertoglio1987/hackathon-team/issues/17#issuecomment-642492457 and this issue moved from low to high priority.. For this reason I need your feedback and please tell use if you need some help

maybe @saravananselvamohan @ProBeta1 @zejiran @renanmav can give you some help. Thanks

[2020-06-11 08:28] LoopGlitch26 commented on #12
I am not on my laptop currently. Once I get back to my working laptop in
some hours I'll let you know the problems I am facing in the react voice
framework. So far I've not tried much as you said not to give it too much
time.

On Thu, 11 Jun 2020, 1:55 pm fabriziobertoglio1987, <
notifications@github.com> wrote:

[2020-06-11 08:43] animeshmohanty commented on #17
I think i am cool with it @fabriziobertoglio1987 . Afterall we do not want a high compexity factor which is cumbersome. If otherwise, I am cool with it too.

[2020-06-11 08:47] #17 closed

[2020-06-11 10:25] renanmav commented on #14
Yeah, I opened an issue within alex repo, can you take a look?

[2020-06-11 11:22] fabriziobertoglio1987 commented on #12
sorry @LoopGlitch26 I need to assign you to another issue.

based on the updates from https://github.com/fabriziobertoglio1987/hackathon-team/issues/17 this issue now has maximum priority.

I need to build this feature tomorrow, otherwise we need to plan for building alternative type of application.

I will assign you another issue this afternoon.
Let me know the progress you did on this and pleas

[2020-06-11 12:26] vedantiitkgp commented on #26
Hello @fabriziobertoglio1987  I am starting with this issue !

[2020-06-11 12:38] fabriziobertoglio1987 commented on #26
I am grateful @vedantiitkgp. I'm struggling right now. Please discuss with me and ask me any question.

This is a test request that uses the [`/message`](https://wit.ai/docs/http/20200513#get__message_link) endpoint. I already built it in feature https://github.com/fabriziobertoglio1987/hackathon-team/issues/21

The below curl request uses `/message` with string "Today is my Birthday"

[code]

ple

[2020-06-11 12:42] vedantiitkgp commented on #26
Oohk I am going through with the Wit.AI configuration and model training! By username are you referring Wit.ai username ?

[2020-06-11 12:44] fabriziobertoglio1987 commented on #26
vedantsaraswat
![image](https://user-images.githubusercontent.com/24992535/84386698-115d8b80-abf2-11ea-97b6-8aa0bea0f6e9.png)

[2020-06-11 13:01] fabriziobertoglio1987 commented on #13
@animeshmohanty I would be happy to receive your ideas on potential functionalities that we could build using the Facebook api

We would receive the information from the witai api https://github.com/fabriziobertoglio1987/hackathon-team/issues/26, @vedantiitkgp is working on  https://github.com/fabriziobertoglio1987/hackathon-team/issues/26 and he will give you more info for potential functionaliti

[2020-06-11 13:04] fabriziobertoglio1987 commented on #19
Hello @LoopGlitch26

I assigned you this task. Please contact me for any help and let me know your progress. Thanks

[2020-06-11 13:25] gittycoder01 commented on #4
I shared on my news feed and facebook pages. I will immediately share to other pages once I was accepted in my join requests

![image](https://user-images.githubusercontent.com/62461119/84390056-9b751680-ac29-11ea-9743-7b2e2e030861.png)

![image](https://user-images.githubusercontent.com/62461119/84390101-adef5000-ac29-11ea-8fe5-894252e5c34a.png)

[2020-06-11 13:56] fabriziobertoglio1987 commented on #4
@gittycoder01 Thanks a lot for the amazing work

Keep promoting us on different Facebook Groups. You can consider yourself part of the team.
I will assign you a non-coding task, if you do not want to code.

We will register our team for the hackathon in 5-6 days ... and I am sure you will be part of it.

Thanks a lot for the support
Fabrizio

[2020-06-11 15:09] zejiran commented on #20
I am checking right now that we can build this with wit.ai. Today I will learn about calling APIs, for making the necessary code to call the Facebook API. After that, I would share the repository here.

[2020-06-11 16:22] fabriziobertoglio1987 commented on #20
AMAZING @zejiran @vedantiitkgp is our AI/ML Expert and he working on wit.ai

You should coordinate with him and share you finding on wit.ai on the issue https://github.com/fabriziobertoglio1987/hackathon-team/issues/26

Then keep researching for on the Facebook API, if you find some other applications for the Facebook API, you open a task in our [KanBan board](https://github.com/fabriziobertoglio1

[2020-06-11 16:25] fabriziobertoglio1987 commented on #20
I added you to the facebook app developer team

![image](https://user-images.githubusercontent.com/24992535/84413472-f3535380-ac10-11ea-81da-17a9f02f5c3c.png)

The name of the app is alex

[2020-06-11 16:27] zejiran commented on #20
<img width="976" alt="Captura de Pantalla 2020-06-11 a la(s) 11 27 31 a  m" src="https://user-images.githubusercontent.com/30379522/84413678-95097f00-abd6-11ea-8949-af74667beaea.png">

[2020-06-11 16:32] zejiran commented on #20
I can't change our KanBan board. I think that we could see the price of the product with wit.ai and recommend places to the user acording to the cost.

[2020-06-11 16:45] fabriziobertoglio1987 commented on #20
Awesome..

https://wit.ai/docs/built-in-entities/20180601
![image](https://user-images.githubusercontent.com/24992535/84415542-344c6780-ac13-11ea-919b-dc7040292a33.png)

I think the main issue is not building the functionality, I am more worried of obtaining the authorization from Facebook to use this type of data ...

So if there is approval process, we need to initialize it soon as it may take 1

[2020-06-11 16:49] fabriziobertoglio1987 opened #28 "Facebook Developers Review Process"
I would like to assign this task to @gittycoder01

This is a NON CODING TASK. You don't need to code or undestand any technical aspects of the app. You only need to estimate for us and organize the process of App Review with Facebook.

as discussed in https://github.com/fabriziobertoglio1987/hackathon-team/issues/20#issuecomment-642802216 every time we get some information on Facebook Users we nee

[2020-06-11 16:52] zejiran commented on #26
@vedantiitkgp check issue #20. We should work together. Right now, I am extracting with wit.ai specific information, from user message, to connect it with places APIs.

[2020-06-11 17:01] fabriziobertoglio1987 commented on #20
I sent you invite to join our github repo Alex. It's the mobile app.
To set up development environment follow carefully this guide

select react native quickstart
https://reactnative.dev/docs/environment-setup

![image](https://user-images.githubusercontent.com/24992535/84417388-d8371280-ac15-11ea-8d85-32a17cc69529.png)

If you don't want to set up the development environment, you can write the co

[2020-06-11 18:24] zejiran commented on #20
Updates: code for consume wit API ->
[code]

[2020-06-11 18:54] fabriziobertoglio1987 commented on #20
https://github.com/fabriziobertoglio1987/alex/commit/fa5fae93a638f6258a3e9b5f8f62cca5511b2bff

https://github.com/fabriziobertoglio1987/hackathon-team/issues/21

[2020-06-11 19:12] zejiran commented on #20
Yes, it was just for testing and understanding purposes.

[2020-06-11 19:15] zejiran commented on #20
GET Food places structure
</search?type=place&q={$PLACE, $FOOD
<img width="976" alt="Captura de Pantalla 2020-06-11 a la(s) 2 10 21 p  m" src="https://user-images.githubusercontent.com/30379522/84429596-07398e00-abee-11ea-97d1-69adb5a272a2.png">
}&fields=name,website&categories=["FOOD_BEVERAGE"]>
-> Example
https://graph.facebook.com/search?type=place&q=New York, beer&fields=name,website&categorie

[2020-06-12 04:40] gittycoder01 commented on #28
Good Day fabriziobertoglio1987 !

ToDo:
1. We need to consolidate all the facebook permissions we need in our app since each
permission has its own set of requirements and usage that are subject to Facebook Platform Policies

2. We implement each Facebook Platform Policies for each permissions

For example for issue #20
we need permisssion: user_location
The user_location permission allows your ap

[2020-06-12 06:45] fabriziobertoglio1987 commented on #14
you need to run `react-native run-ios`

[2020-06-12 06:51] fabriziobertoglio1987 commented on #20
we need to get 2 information from witai

1) The place. Can we query only for the city or also for a place (for ex. [The Bronx](https://www.google.com/search?client=ubuntu&channel=fs&q=the+bronx+new+york+pub&ie=utf-8&oe=utf-8))?

2) witai should recognize the user intent to search for a place

3) witai should recognize the category of place the user is searching for

4) witai should recognize the i

[2020-06-12 06:51] fabriziobertoglio1987 commented on #26
https://github.com/fabriziobertoglio1987/hackathon-team/issues/20#issuecomment-643099983

[2020-06-12 06:53] fabriziobertoglio1987 commented on #19
@LoopGlitch26 could you give me an update on this? Will you start working on this task on Saturday?
Thanks a lot.

[2020-06-12 07:04] fabriziobertoglio1987 opened #29 "Privace Policy"
After reading [iubenda docs](https://www.iubenda.com/en/help/13561-privacy-policy-for-facebook-apps) it should be pretty streight forward

all instructions in the above link, you just post the url on facebook dashboard and iubenda will generate all required information

more discussion at https://github.com/fabriziobertoglio1987/hackathon-team/issues/28#issuecomment-643106092

@gittycoder01 we wil

[2020-06-12 07:05] fabriziobertoglio1987 commented on #28
Thanks a lot @gittycoder01 I am really thankful as all this facebook permissions and app reviews has allways been my biggest headache

This is a really good analysis.

My questions are:

1) Can we submit a mobile app that is not 100% finished by the 17th of June?
2) Can we submit a mobile app that is still not approved/released/published from Google Play and Apple Store?

Giving a screencast or pr

[2020-06-12 07:08] fabriziobertoglio1987 commented on #28
as explained in https://github.com/fabriziobertoglio1987/hackathon-team/issues/29#issue-637534393 it should be no problem generating privacy policy with iubenda

so I would close this issue and I will do https://github.com/fabriziobertoglio1987/hackathon-team/issues/29 with @gittycoder01 on [iubenda](https://www.iubenda.com/en/help/13561-privacy-policy-for-facebook-apps) around the 26th of June

T

[2020-06-12 07:08] #28 closed

[2020-06-12 07:15] fabriziobertoglio1987 commented on #19
@CasCard would you like to work with @LoopGlitch26 on this task? Thanks

[2020-06-12 07:16] fabriziobertoglio1987 commented on #26
Hello @Epeagbas I think you could also work on this task. You have not been replying to any message and you never participated in any conversation. Could you please tell us something? Thanks

[2020-06-12 07:19] fabriziobertoglio1987 commented on #13
Hello @prdk0 @saravananselvamohan @munjyong

as discussed in https://github.com/fabriziobertoglio1987/hackathon-team/issues/19 https://github.com/fabriziobertoglio1987/hackathon-team/issues/20 and https://github.com/fabriziobertoglio1987/hackathon-team/issues/26

could you come up with additional ideas on using witai and facebook api together?
Otherwise you can collaborate on one of the issues abo

[2020-06-12 07:56] fabriziobertoglio1987 commented on #26
@zejiran as discussed in https://github.com/fabriziobertoglio1987/hackathon-team/issues/26#issuecomment-642619481 I need your witai account name so that you can do the configurations for witai. I will work this weekend on the app and would like to add all those api requests and have alex app on witai already configured and trained. thanks

[2020-06-12 10:36] CasCard commented on #19
Yeah sure

[2020-06-12 13:18] LoopGlitch26 commented on #19
@fabriziobertoglio1987 I will start working on it now. I was unable to get some free time because of some issues, but I along with @CasCard 's help will be doing this work. Thanks.

[2020-06-12 13:52] cristianoccazinsp commented on #13
Is there any specific place you are building the list of "questions" that could be answer?

Here are some I can think of:

- Often trying to get away on a road trip for the weekend. Where can I go this weekend that's less than 4 hours drive? Show list of places, possible hosting, and interesting landmarks to visit.

- (The obvious ones) Do you want to get [TYPE OF FOOD] tonight? Show places, and s

[2020-06-12 13:56] gittycoder01 commented on #29
I'll take note on this. Good Day!

[2020-06-12 14:33] zejiran commented on #26
This is my account name for wit.ai 'juansebastinalegraziga'. Today I will set up the react environment and see how I can help.

[2020-06-12 15:08] fabriziobertoglio1987 commented on #13
thanks a lot @cristianoccazinsp
We really want to do well in this Hackathon (due date 24th of June) and hopefully repeat for the second due date of September. Consider that [each hackathon](https://devpost.com/facebook?fbclid=IwAR1Rt0KQLwswryWuil3epQipUwMqGuhg4R_hwe3Z6w9qnpk_-AUNnDsGJOk) (3 contests) has total prize of 21.000 USD. I am very busy now with https://github.com/facebook/react-native/pu

[2020-06-12 17:51] animeshmohanty commented on #13
Hey @cristianoccazinsp @ProBeta1 @saravananselvamohan I think we can go with sports or maybe also shopping. Can we discuss and finalize one of the two  and confirm the apis and get collaborating and started on and come out maybe with an alpha version first? @fabriziobertoglio1987 has suggested some really good sites and out of them rakutens rapid api marketplace has every possible api we can think

[2020-06-12 17:53] animeshmohanty commented on #13
we also need to colab with @vedantiitkgp from #26 for some potential functionalities we can build using facebook graphql api

[2020-06-12 18:01] animeshmohanty commented on #13
@fabriziobertoglio1987 i think another potential use might be a marquee dates for special events or maybe holidays or festivals as we use in SAC calendars. What i was thinking is if there is some kind of celebration or festival in a region where your friend is and that is different from where you are, maybe that gets marked in your calendar and when the day comes we can send them a personalized ha

[2020-06-12 18:16] javiershaka commented on #27
My facebook
www.facebook.con/javiershakas
While i'll be reading what you sent

El vie., 12 de junio de 2020 8:58 a.m., fabriziobertoglio1987 <
notifications@github.com> escribió:

[2020-06-13 01:49] zejiran commented on #20
Added this to the app.

<img width="976" alt="Captura de Pantalla 2020-06-12 a la(s) 8 46 27 p  m" src="https://user-images.githubusercontent.com/30379522/84557100-cb85ed80-aced-11ea-9f3e-29d8fec9eeca.png">

The user intent will be recognized as they are other intentions for the the different functionalities. Do not know how to recognize the information (fields) the users wants to retrieve, maybe

[2020-06-13 02:16] zejiran commented on #20
I have set my development environment for React. What can I do now?

[2020-06-13 06:44] fabriziobertoglio1987 commented on #20
thanks @zejiran

you can prepare a pull request to add api endpoint

include your functions inside https://github.com/fabriziobertoglio1987/alex/blob/master/src/lib/facebook/places.js

no need to run the react-native dev environment, you can just write them in js console and paste them in the file.

i'll be working all day on this. Thanks

[2020-06-13 07:34] fabriziobertoglio1987 opened #31 "Microphone permissions"
https://github.com/react-native-community/react-native-permissions

[2020-06-13 08:07] #12 closed

[2020-06-13 08:11] fabriziobertoglio1987 commented on #13
@animeshmohanty all very good idea, Please open 1 issue for each idea.
Lets not make a generic discussion about everything.

I currently just published a Pull Request and merged the Voice Recognition functionlity.
I am next building the next functionality.

Please open a separate issue for each task
Square down the requirement
Present pull request that closes that issue

Thanks a lot

[2020-06-13 08:13] fabriziobertoglio1987 commented on #27
I added you to the developers team

please start working on this

![image](https://user-images.githubusercontent.com/24992535/84563812-8057f300-ad5e-11ea-9096-08e24dcebe1c.png)

contact me for any of your questions in this discussion
thanks

[2020-06-13 08:15] fabriziobertoglio1987 commented on #13
@cristianoccazinsp @animeshmohanty please send me your facebook account, I need to add you to the developers team so you can work with the facebook api

register to https://wit.ai/ and send me your account

I ll add you to the app so you can make configs. Thanks

[2020-06-13 08:18] fabriziobertoglio1987 opened #32 "Feature: Recommend places according to price."
https://github.com/fabriziobertoglio1987/hackathon-team/issues/20

[2020-06-13 08:24] fabriziobertoglio1987 opened #33 "Login Screen"
I would **AVOID** using https://reactnavigation.org/docs/en/getting-started.html

because of https://github.com/react-native-community/voice/issues/173

and also there is no need for such library..

just do a check

[code]

Make sure the Login component is positioned correctly both in case the user is logged in (logout button in the header) and when the user is not logged in.

[2020-06-13 08:27] fabriziobertoglio1987 opened #34 "Voice Recognition Screen"
respect the instructions from https://github.com/fabriziobertoglio1987/hackathon-team/issues/33

[2020-06-13 08:29] fabriziobertoglio1987 opened #35 "Microphone Icon"
https://github.com/oblador/react-native-vector-icons

see info from

[2020-06-13 08:35] fabriziobertoglio1987 commented on #19
@CasCard @LoopGlitch26 I just completed all the other difficult tasks and I am taking this task. Don't work on it. If you want to participate please find another task from the [Kanban](https://github.com/fabriziobertoglio1987/hackathon-team/projects/2) board. Thanks

[2020-06-13 08:37] fabriziobertoglio1987 commented on #27
@javiershaka please send me the http request. see more info at https://github.com/fabriziobertoglio1987/hackathon-team/projects/2

[2020-06-13 08:39] fabriziobertoglio1987 commented on #14
https://github.com/fabriziobertoglio1987/alex/issues/1#issuecomment-643579658

[2020-06-13 08:43] fabriziobertoglio1987 commented on #14
I believe the guide is wrong, we don't use swift and installing this dependency should not require us to do any setting in native code except adding some variables

do this settings from https://developers.facebook.com/docs/ios/getting-started/?sdk=cocoapods

![image](https://user-images.githubusercontent.com/24992535/84561976-0e2ce180-ad51-11ea-957f-54144da76d57.png)

test the app, if it does not

[2020-06-13 08:48] animeshmohanty commented on #13
hi @fabriziobertoglio1987 my facebook account is : https://www.facebook.com/animesh.mohanty.swagster.1632/
and i have registered into wit.ai using facebook

[2020-06-13 08:50] animeshmohanty commented on #13
https://wit.ai/animeshmohanty

[2020-06-13 08:56] fabriziobertoglio1987 commented on #26
@zejiran I suggest you to not set the react-native environment. You can only work on the javascript apis and for that you don't need to get the environment running

Just publish a pr that includes functions to do those api requests as said in:
https://github.com/fabriziobertoglio1987/hackathon-team/issues/20#issuecomment-643580034

[2020-06-13 09:10] javiershaka commented on #27
thanks for the infomation.
As I am new using this technology you will need a more time with me.
I will ask any questions that may arise.

[2020-06-13 09:34] fabriziobertoglio1987 commented on #19
Facebook Events API allows us to read the user events, but not search, update, delete user events.
We can:
- Display the events created and joined on facebook from the user

We can not:
- join an event using our app voice commands
- create an event with our app voice commands
- invite somebody to an event (birthday) using our app voice commands
 - leave an event

This makes events api not a priori

[2020-06-13 09:45] fabriziobertoglio1987 commented on #13
@animeshmohanty I added you to facebook team and witai https://github.com/fabriziobertoglio1987/hackathon-team/issues/20#issuecomment-642788866

[2020-06-13 09:47] fabriziobertoglio1987 commented on #27
please use the graph api explorer and build that request

https://developers.facebook.com/docs/graph-api/explorer/

Thanks

[2020-06-13 10:03] javiershaka commented on #27
Thanks, any questions i will still ask

El sáb., 13 de junio de 2020 2:48 a.m., fabriziobertoglio1987 <
notifications@github.com> escribió:

[2020-06-13 12:16] fabriziobertoglio1987 opened #36 "Yelp Local Business Data"
related to https://github.com/fabriziobertoglio1987/hackathon-team/issues/20

the user activates voice recognition:

"Find on Yelp a reccomended italian restaurant in New York"

We get the informaton from Yelp API
https://english.api.rakuten.net/serg.osipchuk/api/YelpAPI

[2020-06-13 12:18] fabriziobertoglio1987 opened #37 "Food Related APIs"
The app could focus on Food Related contect as we are already working on Facebook Places APIs https://github.com/fabriziobertoglio1987/hackathon-team/issues/20

More APIs would provide different options of restaurants and informations:
https://english.api.rakuten.net/collection/food-apis

[2020-06-13 12:21] fabriziobertoglio1987 opened #38 "Search Recipe with Voice Command"
The user would use voice command to search for a recipe:

"Find spagetti alla bolognese recipe"

the api
https://english.api.rakuten.net/webknox/api/recipe

more options for api
https://english.api.rakuten.net/collection/food-apis

[2020-06-13 12:44] fabriziobertoglio1987 commented on #13
@animeshmohanty @cristianoccazinsp

right now the person that gave the highest contribution to this project is @zejiran with issue https://github.com/fabriziobertoglio1987/hackathon-team/issues/20

He basically took care of:

1) Configuration of witai intent/entity to extract the information
2) Testing the Facebook graphql api to make sure that we can get the info

His work with issue https://gith

[2020-06-13 16:25] fabriziobertoglio1987 opened #39 "Display results from API query"
Display Results from the Api in a FlatList

[2020-06-13 16:30] fabriziobertoglio1987 commented on #20
I am already working on the screens to display the results from Facebook Places API https://github.com/fabriziobertoglio1987/hackathon-team/issues/39

This task has a high priority an needs to be completed for the 17th June

@zejiran Do you can do that? Thanks

You just need to send a pull request,  that adds the following function to this file https://github.com/fabriziobertoglio1987/alex/blob/ma

[2020-06-13 16:46] fabriziobertoglio1987 commented on #20
The Places API is deprecated and will be removed August 2020
![image](https://user-images.githubusercontent.com/24992535/84574327-0a777a00-ada6-11ea-8028-f9a5e7c3c250.png)

We can not use that api.

[2020-06-13 16:46] #20 closed

[2020-06-13 16:48] #26 closed

[2020-06-13 16:52] zejiran commented on #32
So @fabriziobertoglio1987 what can I do now, that the Place API is deprecated? I have free this weekend. Thanks, I am learning a lot.

[2020-06-13 16:57] fabriziobertoglio1987 commented on #27
@javiershaka Unluckily we could not find a use case for witai and the Facebook Graph API.
For this reason I am closing this issue and you should not work on it anymore.

As we can not retrieve any relevant information from Facebook using wit.ai, there is no need to send message, share etc...

All this operation require Facebook review process which takes many days and we are very in trouble with d

[2020-06-13 16:57] #27 closed

[2020-06-13 16:57] fabriziobertoglio1987 commented on #14
@javiershaka Unluckily we could not find a use case for witai and the Facebook Graph API.
For this reason I am closing this issue and you should not work on it anymore.

As we can not retrieve any relevant information from Facebook using wit.ai, there is no need to send message, share etc...

All this operation require Facebook review process which takes many days and we are very in trouble with d

[2020-06-13 16:57] #14 closed

[2020-06-13 17:01] #29 closed

[2020-06-13 17:01] #19 closed

[2020-06-13 17:01] #18 closed

[2020-06-13 17:13] fabriziobertoglio1987 commented on #13
Thanks @zejiran . As Places API will be deprecated August 2020 https://github.com/fabriziobertoglio1987/hackathon-team/issues/20#issuecomment-643648234

There is no interesting application we could found to use voice recognition in combination with and Facebook API

We will drop Facebook Authentication/API as it is giving us a lot of work (review process, deadlines, private policy...etc..) https:/

[2020-06-13 18:00] javiershaka commented on #27
thanks for your time.
whatever is offered to you there I am at your service.

[2020-06-13 19:14] #39 closed

[2020-06-13 19:14] fabriziobertoglio1987 opened #40 "Display Results on Map"

[2020-06-13 19:16] fabriziobertoglio1987 opened #41 "Google Maps API - Search for Places"

[2020-06-16 06:43] ProBeta1 commented on #16
Shall I start working on this @fabriziobertoglio1987  ?

[2020-09-29 15:28] #32 closed